@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  font-family: "public sans"; }

body {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

header {
  max-height: 700px;
  height: 700px;
  overflow: hidden;
  background: #f3f4f6; }

header > section {
  background-color: #fafafa;
  background-image: url("../img/bg-intro-desktop.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 520px -120px;
  height: 80%; }

header > img {
  width: 52%;
  transform: translate(110%, -85%);
  position: relative;
  z-index: 10; }

header .menu {
  background-color: white;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; }

header .menu div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 100%; }

header .menu .menu_list {
  height: 100%;
  margin: 0 0 6px 0; }

header .menu .menu_list li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #9698a6;
  margin: 0 10px;
  border: none;
  border-bottom: 3px solid white;
  transition: color .5s, border-color .5s;
  position: relative;
  height: 100%;
  cursor: pointer; }

header .menu .menu_list li:hover {
  border-bottom: 3px solid #2bb7da;
  color: #2d314d; }

.button_cad {
  border: none;
  padding: 12px 30px;
  border-radius: 40px;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  font-weight: 400;
  transition: .5s;
  cursor: pointer;
  outline: none; }

.button_cad:hover {
  opacity: .5; }

header .banner {
  width: 400px;
  transform: translateY(140px);
  margin: 0 100px; }

.banner_title, .whyChoose_title, .articles_title, .whyChoose_list h3 {
  font-weight: 400;
  color: #2d314d; }

header .banner .banner_title {
  font-size: 40px; }

.banner_text, .whyChoose_subtitle, .whyChoose_list p {
  color: #9698a6;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 22px; }

.whyChoose {
  padding: 50px 30px 50px 100px;
  transform: translateY(-100px);
  background: #f3f4f6;
  position: relative;
  z-index: 1; }

.whyChoose .whyChoose_list {
  display: flex;
  justify-content: space-between; }

.whyChoose .whyChoose_list span {
  margin: 50px 30px 0 0px; }

.whyChoose .whyChoose_list span img {
  margin-bottom: 20px; }

.whyChoose .whyChoose_list span p {
  text-align: left;
  font-size: 14px; }
