$footerEtitulos: hsl(233, 26%, 24%);
$limeGreen-gradiente:  hsl(136, 65%, 51%);
$brightCyan-gradiente:  hsl(192, 70%, 51%);
$fontesEtextos: hsl(233, 8%, 62%);
$menubg-fontfooter: hsl(0, 0%, 100%);
$bgheader-bgwhychoose: hsl(220, 16%, 96%);
$articles: hsl(0, 0%, 98%);
$gradiente-botoes: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));


@media (max-width:885px){

    header{
        overflow: visible;
        background: #fff;
        height: 870px;

               
        .menu{

            div{
                display: flex;
                justify-content: center;
                align-items: center;

                aside{
                    width: 100%;
                    height: 600px;
                    margin: 0;
                    left: 0;
                    top: 70px;
                    position: absolute;
                    display: none;
                    background: linear-gradient(to bottom,$footerEtitulos,rgba(0,0,0,0));
                }

                .menu_list {
                    position: absolute;
                    padding: 20px;
                    background: $menubg-fontfooter;
                    color: $footerEtitulos;
                    left: 7%;
                    top: 25px;
                    height: 240px;
                    width: 75%;
                    display: none;
                    opacity: 0;
                    flex-direction: column;
                    border-radius: 5px;
                    flex: 1;

                    li{
                        color: $footerEtitulos;
                    }
                
                 
                }

               


                button{
                    display: none;
                }
            
                #menuMobile{
                    display: block;
                }
            }
        }
        
        section{
        
            background-color: $articles;
            // background-size: 80%;
            background-image: url("../img/bg-intro-mobile.svg");
            background-position: 0px 70px;
            background-repeat: no-repeat;
            height: 45%;


    
        } 
        img.banner_img{
    
            width: 90%;
            transform: translate(6%,-95%);
            position: relative;
            z-index: 10;
        }

        
        .banner{
            width: 80%;
            transform: translateY(450px);
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            .banner_title{
                font-size: 35px;
            }

            .button_cad{
                margin: 0 auto;
            }

        }
    
    }

    .banner_title,.whyChoose_title,
    .articles_title,.whyChoose_list  h3,
    span p.author, span h2{
    
        font-weight: 400;
        color: $footerEtitulos;
        text-align: center;
    }

    .whyChoose{
        padding: 40px 50px;
        background: $bgheader-bgwhychoose;

        .whyChoose_title{
            font-size: 30px;
        }

        .whyChoose_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .whyChoose_list span{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 290px;
            width: 100%;

            img{
                max-width: 25%;
                margin: 20px 0;
            }
        }
    }

    .articles{
        
        padding: 20px;

        .articles_title{
            font-size: 25px;
        }

        .list_articles{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            span{
                margin: 10px;
                min-width: 250px;
                width: 100%;
                max-width: 300px;
                background: $menubg-fontfooter;
                border-radius: 5px;
                
                
                img{
                    width: 100%;
                    height: 200px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
                
                div{
                    
                    padding: 20px;
                    
                    .author{
    
                        font-size: 13px;
                        text-align:left;
                    }
                    
                    h2{
                        
                        font-size: 20px;
                        cursor: pointer;
                        transition: color .5s;
                        text-align: left;
                        
                        &:hover{
                            
                            color: $brightCyan-gradiente;
                        }
                    }
                    
                    p:last-child{
                        
                        color: $fontesEtextos;
                        font-size: 15px;
                        line-height: 20px;
                        text-align: left;
                        cursor: context-menu;
                    }
                }
            }
        }
    }



    .banner_text,.whyChoose_subtitle,.whyChoose_list  p{
    
        color: $fontesEtextos;
        margin-bottom: 35px;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
    }

    

footer{

    background: $footerEtitulos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    div:first-child{
        display: flex;
        height: 100px;
        flex-direction: column;
        margin: 40px 0px;
        justify-content: space-between;
        align-items: center;

        span img{
            
            margin: 0 5px;
        }   
    }
    
    div:nth-child(2){

        // columns: 0;
        margin: 10px 0;

        ul{
            height: 100%;
            margin: 0 0 0 -21%;
            display: flex;
            flex-direction: column;
            
            
            li{
                
                list-style: none;
                color: #fff;
                height: 30px;
                margin: 0 auto;
                padding: 10px;
                
                a{
                    color: #fff;
                    text-decoration: none;
                    transition: .5s;
                    text-align: center;
                    &:hover{
                        color:$limeGreen-gradiente
                    }
                }
            }

        }
    }  
    
    div:last-child{
        margin: 50px;
        width: 246px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
        .button_cad{
            width: 180px;

        }
        
        p{
            text-align: right;
            color: $fontesEtextos;
            margin-top: 50px;
        }
       }
    }
    
}

