@media (max-width:768px){

    .menu{

        div{

            ul{
                display: none;
            }
            button{
                display: none;
            }

            #menuMobile{
                display: block;
            }
        }
    }
}